.App {
    display: flex;
  }
  
  .map-container {
    width: 70%;
  }
  
  .details-container {
    width: 30%;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
  }
  